body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

div {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 1%;
}